@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<header>
    <h1>TOP</h1>
</header>

<main>
    @Body
</main>

<footer>
    <h1>BOTTOM</h1>
</footer>


