<h1>Film resolution</h1>

<style>
    .main-card{
        width: 700px;
        padding: 20px;
    }
</style>

<MudCard Class="main-card">
    <MudTextField T="double" Label="Price"/>
</MudCard>

@code {

}
